{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="container">
        <h1>Contact Us</h1>
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
<!-- code witout bootstap
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <form action="{{ url_for('home') }}" method="POST">
            {{ form.csrf_token }}
            <p>
                {{ form.name.label }}
                <br>
                {{ form.name }}
            </p>
            <p>
                {{ form.email.label }}
                <br>
                {{ form.email(size=30) }}
            </p>
            <p>
                {{ form.message.label }}
                <br>
                {{ form.message }}
            </p>
            <p>
                {{ form.submit }}
            </p>
        </form>
    </div>
    
</body>
</html>
 -->